.portfolio {
    max-width: 900px;
    margin-bottom: 100px;
    margin: auto;

    >h2 {
        text-align: center;
        border-bottom: 3px dashed #ccc;
        font-weight: 300;
        font-size: 32px;
        margin-bottom: 10px;
    }

    .projectList {

        .projectItem {
            padding: 20px 50px;
            box-sizing: border-box;
            max-width: 900px;
            height: 240px;

            &:not(:first-child) {
                border-top: 2px solid #ddd;
            }

            img {
                width: 236px;
                height: 176px;
                vertical-align: top;
                border: 2px dashed #777;
                border-radius: 5px;
            }

            .picLeft,
            .picRight {
                width: 250px;
                float: left;
            }

            .textRight,
            .textLeft {
                width: 530px;
                float: left;

                p {
                    font-size: 20px;

                    span {
                        font-size: 18px;
                        color: #777;
                    }
                }

                .projectInfo {
                    font-size: 14px;

                    li {
                        margin-top: 12px;
                        line-height: 20px;
                        &::before{
                            content: '-';
                            color: #777;
                            margin-right: 5px;
                            width: 5px;
                            background-color: #777;
                        }
                    }
                }

                .projectSrc{
                    margin-top: 10px;
                    color: #777;
                    font-size: 14px;
                    font-weight: 700;
                    display: flex;
                    li{
                        margin-right: 10px;
                        padding: 0 5px;
                        transition: all .4s;
                        &:hover{
                            color: #fff;
                            background: #333;
                            border-radius: 5px;
                        }
                    }
                }
            }

            .picRight,
            .textRight {
                margin-left: 20px;
            }
        }
    }
}