.skills {
    max-width: 900px;
    margin: auto;

    >h2 {
        text-align: center;
        border-bottom: 3px dashed #ccc;
        font-weight: 300;
        font-size: 32px;
        margin-bottom: 30px;
    }

    >ol {
        padding: 10px 20px 10px 50px;
        margin-top: 30px;

        h3 {
            font-size: 20px;
            line-height: 1.1;
        }

        >li {
            float: left;
            width: 100%;
            box-sizing: border-box;
            padding-right: 30px;


            .skillInfo {
                margin: 5px 0 20px;
                padding-right: 40px;

                li {
                    margin-top: 12px;
                    line-height: 20px;

                    &::before {
                        content: '-';
                        color: #777;
                        margin-right: 5px;
                        width: 5px;
                        height: 5px;
                        background-color: #777;
                    }
                }
            }
        }
    }
}