.skills {
    max-width: 900px;
    margin: auto;

    >h2 {
        text-align: center;
        border-bottom: 3px dashed #ccc;
        font-weight: 300;
        font-size: 32px;
        margin-bottom: 30px;
    }

    >ol {
        padding: 10px 50px;
        margin-top: 30px;

        h5 {
            font-size: 18px;
            line-height: 1.1;
            font-weight: 600;

            &::before {
                content: '-';
                color: #777;
                margin-right: 8px;
                width: 5px;
                background-color: #777;
            }
        }

        >li {
            float: left;
            width: 100%;
            box-sizing: border-box;
            padding-right: 30px;
            margin-left: 16px;

            .skillInfo {
                margin: 5px 0 20px;
                padding-left: 16px;

                li {
                    margin-top: 12px;
                    line-height: 20px;
                    b{
                        color: #333;
                    }
                }
            }
        }
    }
}