@import 'TopInfo';
@import 'UserCard';
@import 'Skills';
@import 'Portfolio';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto-Light', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}